{% extends 'base.html' %}

{% block content %}
    <h1>Your Cart</h1>
    <ul>
        {% for entry in cart_data %}
            <li>
              {{ entry.item.book.title }} - Quantity: {{ entry.item.quantity }} - Price: ${{ entry.item_total }}
              <a href="{% url 'remove_from_cart' entry.item.book.id %}">Remove</a>
            </li>
        {% endfor %}
    </ul>
    <p>Total: ${{ total }}</p>
    
    <h2>Choose Delivery Option</h2>
    <form method="post" action="{% url 'confirm_order' %}">
        {% csrf_token %}
        <label>
            <input type="radio" name="delivery_option" value="delivery" required>
            Delivery
        </label>
        <label>
            <input type="radio" name="delivery_option" value="branch" required>
            Branch Pickup
        </label>
        <button class='btn' type="submit">Confirm Order</button>
    </form>
{% endblock %}